/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritence from `body` */
  background-color: #fff;
  border: .05rem solid #fff;
}


/*
 * Base structure
 */

html,
body {
  height: 100%;
  background-color: #333;
}
body {
  color: #fff;
  text-align: center;
  text-shadow: 0 .05rem .1rem rgba(0,0,0,.5);
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
  -webkit-box-shadow: inset 0 0 5rem rgba(0,0,0,.5);
          box-shadow: inset 0 0 5rem rgba(0,0,0,.5);
}
.site-wrapper-inner {
  background: transparent url(../img/classes/computing-literacy-1080.jpg) repeat scroll center center;
  background-size: cover !important;
  display: table-cell;
  vertical-align: top;
}
.cover-container {
  margin-right: auto;
  margin-left: auto;
}

/*
 * Header
 */
.navbar {
  background-color: rgba(86, 51, 244,.85);
  box-shadow: 0px 0px 0px 7px #FFAD19, 0px 12px 0px 4px #FFF919;
  border-radius: 0;
}

.navbar-nav {
  float: none;
}

.navbar-brand{
  font-size: 1.75rem;
  margin-bottom: 0.5rem;
  margin-top: 0.4rem;
}

.navbar-nav .nav-link {
  padding-top: 0.4rem;
  padding-bottom: 0rem;
  padding-left: 0.6rem;
  padding-right: 0.6rem;
  font-weight: bold;
  font-size: 1.25rem;
  color: rgba(255,255,255,.75);
  background-color: transparent;
  border-bottom: .5rem solid transparent;
}

.navbar-nav .active {
  color: #fff;
  border-bottom-color: #E72429;
}

/*
 * Cover
 */

.cover {
  position: absolute;
  bottom: 4rem;
  padding: 0 1.5rem;

  float: right;
  text-align: right;
  width: 100%;
}
.cover .btn-lg {
  padding: .75rem 1.25rem;
  font-weight: bold;
}


/*
 * Footer
 */

.mastfoot {
  color: rgba(255,255,255,.5);
}


/*
 * Affix and center
 */

@media (min-width: 40em) {
  /* Pull out the header and footer */
  .navbar {
    top: 0;
    /*position: fixed;  /* Add this for transparent header */
  }
  .mastfoot {
    position: fixed;
    bottom: 0;
  }
  /* Start the vertical centering */
  .site-wrapper-inner {
    vertical-align: middle;
  }
  /* Handle the widths */
  .navbar,
  .mastfoot,
  .cover-container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }
}

@media (min-width: 48em) {
  .navbar-brand {
    float: left;
  }
  .navbar-nav {
    float: right;
  }
  .navbar-nav .nav-link:hover {
      &:not(.active) {
        border-bottom: .5rem solid transparent;
        border-bottom-color: rgb(69, 208, 62);
      }
  }
}

@media (min-width: 62em) {
  .navbar,
  .mastfoot,
  .cover-container {
    /*width: 42rem;*/
  }
}
