---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";



// Our variables
$base-font-family: -apple-system, ".SFNSText-Regular", "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", sans-serif;
$base-font-size:   16px;
$base-font-weight: 300;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;



// Using media queries with like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import "bootstrap";

// @import
//         "base"
//         "layout",
//         "syntax-highlighting"
// ;

.site-header {
    margin-bottom: 1rem;
}

.page-wrapper {
    max-width: 940px;
    margin: 0 auto;
    text-align: left;
    padding: 1.5rem 1rem;
}

.cool-colors {
    background: #FFD500 none repeat scroll 0% 0%;
    font-size: 3rem !important;
    color: #FFF;
    padding: 0 1rem;
    box-shadow: 0px 0px 0px 10px #FFAD19, 16px 16px 0px 4px #5633F4;
    text-shadow: 0.01rem 0.05rem 0.15rem rgba(0, 0, 0, 0.8);
    line-height: 1.4;
}

q:before, q:after {
    content: "";
}

.navbar-brand {
    float: none;
    padding-top: 0;
    padding-bottom: 0;
    a {
        &:hover {
            text-decoration: none;
        }
    }
}

.navbar {
    padding: 0.4rem 2rem 0rem 2rem;

    .nav-item {
        float: none;
        display: inline-block;
        + .nav-item {
            margin-left: 0;
        }
    }
}

.navbar-nav .nav-link:hover {
    &:not(.active) {
      border-bottom: .5rem solid transparent;
      border-bottom-color: rgb(69, 208, 62);
    }
}


.jumbotron {
  background: transparent url(../img/classes/science-literacy-540@2x.jpg) repeat scroll left center;
  background-size: cover !important;
  min-height: 28rem;
  border-radius: 0;
  box-shadow: 0px 0px 0px 9px rgb(69, 208, 62);

  color: #fff;
  text-align: center;
  text-shadow: 0 .05rem .1rem rgba(0,0,0,.5);

  .jumbotron-headline {
      color: #fff;
  }

  .cool-colors {
      bottom: -15rem;
      position: relative;
  }
}

.bordered-card {
    border-left: 0.4rem solid blueviolet;
}

.class-listing {
    .class-title {
        background-color: blueviolet;
        color: white;
        margin-bottom: 0;
        padding: 0.25rem 0 0.25rem 0.5rem;
        text-shadow: 0 .05rem .1rem rgba(0,0,0,.5);
    }

    .class-desc {
        padding: 0.5rem;
        background: white;
    }

    .class-img {
        border-bottom-color: yellow;
        border-bottom-style: solid;
        border-bottom-width: 0.4rem;
        // background-color: blueviolet;
        // padding: 0 0 0.4rem 0;
        border-top: 0.4rem solid red;
    }
}

.site-wrapper {
    background-color: #e7e7e2;
    display: table;
    width: 100%;
    height: 100%; /* For at least Firefox */
    min-height: 100%;
    // -webkit-box-shadow: inset 0 0 5rem rgba(0,0,0,.15);
    //         box-shadow: inset 0 0 5rem rgba(0,0,0,.15);
    color: #30302C;
    text-align: left;
    text-shadow: none;

    // h1, h2, h3, h4, h5, h6 {
    //     // color: #ff0052;
    //     color: #8e2b88;
    //
    //     // background: #6E1AAB;
    //     // color: white;
    //     // padding: 0.5rem;
    //     // text-shadow: 0 .05rem .1rem rgba(0,0,0,.5);
    // }
}

.site-wrapper-inner {
  background: transparent url(../img/classes/computing-literacy-controller-540@2x.jpg) repeat scroll center center;
  background-size: cover !important;
  display: table-cell;
  vertical-align: top;
}

.cover-container {
  margin-right: auto;
  margin-left: auto;
}

.typeform-widget {
    border-bottom-color: yellow;
    border-bottom-style: solid;
    border-bottom-width: 0.4rem;
    border-top-color: blue;
    border-top-style: solid;
    border-top-width: 0.4rem;
}
