@import "settings";

$include-open-sans: false;

$logo-yellow: rgb(243, 228, 98);
$logo-red: rgb(240, 145, 113);
$logo-blue: rgb(129, 103, 230);
$logo-white: rgb(231, 233, 227);

$body-font-family: "Proxima Nova", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
$header-font-family: $body-font-family;

$panel-font-color: $logo-white;
$header-font-color: $logo-white;
$body-bg: $logo-white;
$panel-bg: $logo-blue;
$panel-border-size: 1px;

// $tabs-navigation-padding: rem-calc(24);
$tabs-navigation-bg-color: darken($logo-blue, 5%);
$tabs-navigation-hover-bg-color: $logo-blue;
$tabs-navigation-font-color: $logo-white;
$tabs-navigation-font-size: rem-calc(16);
// $tabs-navigation-font-family: $body-font-family;

$tabs-content-margin-bottom: rem-calc(24);
$tabs-content-padding: 1px;

$reveal-modal-bg: $logo-blue;
$form-label-font-color: $logo-white;

@import "foundation";

h1, h2, h3, h4, h5, h6 {
    letter-spacing: 1px;
}

p, label, input {
    font-weight: 300;
    letter-spacing: 0.75px;
    line-height: 1.25em;
    font-size: 1.2rem;
}

img.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.dna-hr {
    @extend img.center;
    width: 100%;
}

.signup-button-lrg {
    @include button($padding: $button-lrg, $bg: $logo-red, $full-width: true);
    font-size: 1.3rem;
}

.signup-button-med {
    @include button($padding: $button-med, $bg: $logo-red, $full-width: false);
    width: 75%;
    font-size: 1.15rem;
    &.center {
        display: table;
        margin: 0 auto;
    }
}

.signup-button-sml {
    @include button($padding: $button-sml, $bg: $logo-red, $full-width: true);
    font-size: 1.0rem;
}

.header-sml {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
}

.panel {
    border: none;
}

.no-panel {
    h2 {
        color: $logo-blue;
        font-weight: bold;
        font-size: 300%;
        &.subheader {
            color: $logo-blue;
            font-weight: normal;
            font-size: 1.2rem;
            line-height: 1.25em;
        }
    }
    a {
        text-decoration: underline;
        color: darken($logo-blue, 5%);
    }
}

.text-image {
    margin: 4px;
}

.class-desc {
    img {
        margin-bottom: 10px;
    }
}
// Hard override Foundation active tab background``
.tabs {
    position: relative;
    dd {
        > a {
            padding-top: 1px;
            padding-bottom: 1px;
        }
        &.active a {
            padding-top: 1px;
            padding-bottom: 1px;
            background: $logo-blue;
        }
    }

    .tab-en {
        height: 100%;
        text-align: left;
        position: absolute;
        width: 51%;
        max-width: 51%;
        a {
            height: 100%;
        }
    }

    .tab-es {
        height: 100%;
        float: right;
        text-align: right;
        width: 50%;
        max-width: 50%
        a {
            height: 100%;
        }
    }

}

.tabs-content {
    margin-top: -1px;
}

.reveal-modal .close-reveal-modal {
    font-size: 22pt;
    color: $logo-yellow;
}

#top-logo {
    img {
        font-size: 100pt;
    }
    text-align: center;
    color: $logo-blue;
}

#contact {
    p a {
        text-decoration: underline;
        color: $logo-yellow;
    }
}

textarea {
    min-width: 100%;
    max-width: 100%;
    height: 10em;
}
