include includes/mixins

doctype 5
html.no-js(lang="en, es")
    head
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="Content-Language", content="en, es")
        title ¡Sunset Spark!
        link(rel="stylesheet", href="css/app.css")
        script(src="bower_components/modernizr/modernizr.js")
        script(type="text/javascript", src="//use.typekit.net/ris3wje.js")
        script(type="text/javascript").
            try{Typekit.load();}catch(e){}

    body
        br
        .row
            .small-12.columns
                #top-logo
                    // Desktop Header
                    .hide-for-small
                        img.center(src="img/logo.svg", width="960px", alt="¡Sunset Spark!")
                            img.center(src="img/sunset-spark-trans-960x.png", alt="¡Sunset Spark!")

                    // Mobile Header
                    .row
                        .small-12.show-for-small.header-sml
                            img.center(src="img/logo.svg", width="610px", alt="¡Sunset Spark!")
                                img.center(src="img/sunset-spark-trans-610x.png", alt="¡Sunset Spark!")
        br

        .row
            .small-12.columns
                img.dna-hr(src="img/dna.png")
                br

        .row
            .small-12.columns
                .row
                    // About
                    .small-12.columns
                        .panel.radius
                            .row
                                .small-6.columns
                                    h2 Learning for Everyone
                                    hr
                                    p.
                                        Become an engineer, scientist, inventor and lifelong
                                        learner today.  Sunset Spark is a not-for-profit
                                        hackerspace for the immigrant community of Sunset Park.
                                        We offer free classes for kids and adults in a wide
                                        variety of science and engineering subjects like
                                        neuroscience, software engineering, and physical
                                        computing.
                                    p.
                                        We work with our students to make sure the classes meet
                                        their needs.  The best way to learn is to be engaged.
                                        All our classes have hands-on projects, experiments or
                                        immediate takeaways that will empower students of all ages
                                        to learn more on their own and use their new knowledge in
                                        the real world in creative and relevant ways.
                                    p.
                                        Our classes take place in borrow spaces like schools,
                                        parks and offices around Sunset Park.  We don't have a
                                        permanent home to call our own yet, but we're working
                                        toward opening a permanent location in the neighborhood
                                        soon to open up a technology workshop and offer more
                                        science and engineering classes to the community.

                                .small-6.columns
                                    h2 Aprendizaje para Todos
                                    hr
                                    p.
                                        Become an engineer, scientist, inventor and lifelong
                                        learner today.  Sunset Spark is a not-for-profit
                                        hackerspace for the immigrant community of Sunset Park.
                                        We offer free classes for kids and adults in a wide
                                        variety of science and engineering subjects like
                                        neuroscience, software engineering, and physical
                                        computing.
                                    p.
                                        We work with our students to make sure the classes meet
                                        their needs.  The best way to learn is to be engaged.
                                        All our classes have hands-on projects, experiments or
                                        immediate takeaways that will empower students of all ages
                                        to learn more on their own and use their new knowledge in
                                        the real world in creative and relevant ways.
                                    p.
                                        Our classes take place in borrow spaces like schools,
                                        parks and offices around Sunset Park.  We don't have a
                                        permanent home to call our own yet, but we're working
                                        toward opening a permanent location in the neighborhood
                                        soon to open up a technology workshop and offer more
                                        science and engineering classes to the community.
        .row
            .small-12.columns
                img.dna-hr(src="img/dna.png")
                br
        .row#classes
            .small-12.columns
                .row
                    // Classes
                    .large-8.medium-8.small-12.columns
                        .no-panel.radius
                            .row
                                .large-6.medium-6.columns
                                    h2 Classes
                                    h2.subheader.
                                        Our free classes are open to all levels of learners. We
                                        develop rich and innovative curricula that engage
                                        students of all skills and backgrounds through hands-on
                                        projects and relatable lessons. If there's a class you
                                        like, contact us using the sign up button or send us an
                                        <a href="mailto:contact@sunsetspark.org">email</a>.
                                .large-6.medium-6.columns
                                    h2 Saber
                                    h2.subheader.
                                        Our free classes are open to all levels of learners. We
                                        develop rich and innovative curricula that engage
                                        students of all skills and backgrounds through hands-on
                                        projects and relatable lessons. If there's a class you
                                        like, contact us using the sign up button or send us an
                                        <a href="mailto:contact@sunsetspark.org">email</a>.
                    .large-4.medium-4.small-10.small-centered.large-uncentered.medium-uncentered.columns
                        img(src="img/cell.png")
                        br
                        br

            .large-12.columns
                .row
                    mixin course_block(courses[0], 12)
                br
                .row
                    mixin course_block(courses[1], 12)
                br
                .row
                    mixin course_block(courses[2], 12)
                br
                .row
                    mixin course_block(courses[3], 12)
                br

        .row
            .large-12.columns
                img.dna-hr(src="img/dna.png")
                br

        .row#more-classes
            .large-12.columns
                .row
                    .large-12.columns
                        .panel.radius
                            .row
                                .large-6.small-6.columns
                                    h2 More Classes Coming Soon
                                    hr
                                    p.
                                        We're a small team of two and a half with a passion for
                                        community science. New classes are being developed every
                                        month. If there's a subject you'd like to learn, contact us
                                        below. We'll work together with you to create a fun and
                                        engaging class for you and everyone else in the community.
                                .large-6.small-6.columns
                                    h2 Más Clases Próximamente
                                    hr
                                    p.
                                        We're a small team of two and a half with a passion for
                                        community science. New classes are being developed every
                                        month. If there's a subject you'd like to learn, contact us
                                        below. We'll work together with you to create a fun and
                                        engaging class for you and everyone else in the community.

        .row#contact
            .large-12.columns
                .row
                    // Send off - Contact
                    .large-12.columns
                        .panel.radius
                            .row
                                .large-6.small-6.columns
                                    h2 Get In Touch
                                    hr
                                    p.
                                        Questions, comments or have something you want to learn?
                                        We'd love to hear from you! Contact us using the button below
                                        or send us an <a href="mailto:contact@sunsetspark.org">email</a>.
                                .large-6.small-6.columns
                                    h2 Ponerse En Contacto
                                    hr
                                    p.
                                        ¿Preguntas, comentarios, o algun cosa que quiere aprender?
                                        ¡Nos encantaría saber de usted! Contact us using the button below
                                        or send us an <a href="mailto:contact@sunsetspark.org">email</a>.
                            a.large.signup-button-lrg.expand(href="#", data-reveal-id="contact-modal-es").
                                Contact - Contacto

        // Contact Form Modal
        .reveal-modal(id="contact-modal-en", data-reveal)
            .panel
                h2 Send Us a Message
                p.lead.
                    We'd love to hear from you. When you send us your message,
                    be sure to leave either your email address or phone number
                    so that we have a way to contact you.
                form
                    .row
                    .small-12
                        .row
                            .small-4.columns
                                label.right.inline Name
                            .small-8.columns
                                input(type="text", name='name', placeholder="First and Last Name")
                        .row
                            .small-4.columns
                                label.right.inline Email
                            .small-8.columns
                                input(type="text", name='email', placeholder="Email Address")
                        .row
                            .small-4.columns
                                label.right.inline Phone Number
                            .small-8.columns
                                input(type="text", name='telephone', placeholder="Phone Number")
                        .row
                            .small-4.columns
                                label.right.inline Message
                            .small-8.columns
                                textarea(name='message', placeholder="")
                        input(type="hidden", name='language', value="en")
                a.close-reveal-modal &#215;
        .reveal-modal(id="contact-modal-es", data-reveal)
            .panel
                h2 Envíenos un Mensaje
                p.lead.
                    We'd love to hear from you. When you send us your message,
                    be sure to leave either your email address or phone number
                    so that we have a way to contact you.
                form
                    .row
                    .small-12
                        .row
                            .small-4.columns
                                label.right.inline Nobmre
                            .small-8.columns
                                input(type="text", name='name', placeholder="Nombre y Apellido")
                        .row
                            .small-4.columns
                                label.right.inline Email
                            .small-8.columns
                                input(type="text", name='email', placeholder="Correo Electrónico")
                        .row
                            .small-4.columns
                                label.right.inline Tele Numbre
                            .small-8.columns
                                input(type="text", name='telephone', placeholder="Número de Teléfono")
                        .row
                            .small-4.columns
                                label.right.inline Mensaje
                            .small-8.columns
                                textarea(name='message', placeholder="")
                        input(type="hidden", name='language', value="es")
                a.close-reveal-modal &#215;

        // Footer
        footer.row
            .large-12.columns
                hr

        script(src="bower_components/jquery/jquery.min.js")
        script(src="bower_components/foundation/js/foundation.min.js")
        script(src="js/app.js")
        script(type="text/javascript").
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-34228211-1']);
            _gaq.push(['_setDomainName', 'sunsetspark.org']);
            _gaq.push(['_trackPageview']);

            (function() {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();
