include includes/mixins

doctype 5
html.no-js(lang="en, es")
    head
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="Content-Language", content="en, es")
        title ¡Sunset Spark!
        link(rel="stylesheet", href="css/app.css")
        script(src="bower_components/modernizr/modernizr.js")
        script(type="text/javascript", src="//use.typekit.net/ris3wje.js")
        script(type="text/javascript").
            try{Typekit.load();}catch(e){}

    body
        br
        .row
            .large-12.columns
                #top-logo
                    // Desktop Header
                    .hide-for-small
                        img(src="img/logo.svg", width="960px", alt="¡Sunset Spark!")
                            img(src="img/sunset-spark-trans-960x.png", alt="¡Sunset Spark!")

                    // Mobile Header
                    .row
                        .small-12.show-for-small.header-sml
                            img(src="img/logo.svg", width="610px", alt="¡Sunset Spark!")
                                img(src="img/sunset-spark-trans-610x.png", alt="¡Sunset Spark!")
        br

        .row
            .large-12.columns
                .row
                    // About
                    .large-12.columns
                        .panel.radius
                            .row
                                .large-6.small-6.columns
                                    h4 Learning for Everyone
                                    hr
                                    p.
                                        Become an inventor, designer, scientist and lifelong learners
                                        today.
                                    p.
                                        Come build robots, learn about the brain, study the stars. We're
                                        coming up with new classes for kids and adults every month.

                                    p.
                                        Sunset Spark brings science back to the community. Everyone
                                        can be a scientist, engineer, designer or innovator, and
                                        . We
                                        provide free classes for people of all ages and backgrounds
                                        to learn about science, engineering, and mathematics in fun
                                        and inventive ways.
                                    p. In our classes, you won't be sitting behind a desk listening to a teacher for an hour.  We believe the best way to learn is by doing things.
                                .large-6.small-6.columns
                                    h4 Aprendizaje para Todos
                                    hr
                                    p.
                                        This is a discription of the class. Aliquam at massa ipsum. Quisque
                                        bibendum purus convallis nulla ultrices ultricies. Nullam aliquam,
                                        mi eu aliquam tincidunt, purus velit laoreet tortor, viverra
                                        pretium nisi quam vitae mi.
                                    p.
                                        This is a discription of the class. Suspendisse lectus leo,
                                        consectetur in tempor sit amet, placerat quis neque. Etiam luctus
                                        porttitor lorem, sed suscipit est rutrum non.

        .row
            .large-12.columns
                // Class Offerings
                .row
                    mixin course_block(courses[0])
                    mixin course_block(courses[1])
                .row
                    mixin course_block(courses[2])
                    mixin course_block(courses[3])

        .row
            .large-12.columns
                .row
                    // More Classes
                    .large-12.columns
                        .panel.radius
                            .row
                                .large-6.small-6.columns
                                    h4 More Classes Coming Soon
                                    hr
                                    h6.subheader.
                                        There should something here about having more classes. We're
                                        constantly thinking up new classes. If there's something you
                                        want to learn, we'd love to hear from you.  Send us a note.

                                .large-6.small-6.columns
                                    h4 Más Clases Próximamente
                                    hr
                                    h6.subheader.
                                        Aliquam at massa ipsum. Quisque bibendum purus convallis
                                        nulla ultrices ultricies. Nullam aliquam, mi eu aliquam
                                        tincidunt, purus velit laoreet tortor, viverra pretium nisi quam vitae mi.

        .row
            .large-12.columns
                .row
                    // Send off - Contact
                    .large-12.columns
                        .panel.radius
                            .row
                                .large-6.small-6.columns
                                    h4 Get In Touch
                                    hr
                                    h6.subheader.
                                        You should contact us if you have any questions or want to learn
                                        something that isn't listed here
                                    a.large.signup-button-med.expand(href="#", data-reveal-id="#contact-modal-es").
                                        Contact
                                .large-6.small-6.columns
                                    h4 Ponerse En Contacto
                                    hr
                                    h6.subheader.
                                        Nullam aliquam, mi eu aliquam. Quisque bibendum purus convallis
                                        nulla ultrices ultricies. Aliquam at massa ipsum aliquam
                                        tincidunt, purus velit laoreet tortor, viverra pretium nisi quam vitae mi.
                                    a.large.signup-button-med.expand(href="#", data-reveal-id="#contact-modal-es").
                                        Contacto

        // Contact Form Modal
        .reveal-modal(id="contact-modal-en", data-reveal)
            .panel
                h2 Send Us a Message
                p.lead Lets do it. I'm in.
                form
                    .row
                    .small-12
                        .row
                            .small-4.columns
                                label.right.inline Name
                            .small-8.columns
                                input(type="text", name='name', placeholder="First and Last Name")
                        .row
                            .small-4.columns
                                label.right.inline Email
                            .small-8.columns
                                input(type="text", name='email', placeholder="Email Address")
                        .row
                            .small-4.columns
                                label.right.inline Phone Number
                            .small-8.columns
                                input(type="text", name='telephone', placeholder="Phone Number (Not required)")
                        .row
                            .small-4.columns
                                label.right.inline Message
                            .small-8.columns
                                input(type="text", name='message', placeholder="")
                        input(type="hidden", name='language', value="en")
                a.close-reveal-modal &#215;
        .reveal-modal(id="contact-modal-es", data-reveal)
            .panel
                h2 Envíenos un Mensaje
                p.lead Lets do it. I'm in.
                form
                    .row
                    .small-12
                        .row
                            .small-4.columns
                                label.right.inline Nobmre
                            .small-8.columns
                                input(type="text", name='name', placeholder="Nombre y Apellido")
                        .row
                            .small-4.columns
                                label.right.inline Email
                            .small-8.columns
                                input(type="text", name='email', placeholder="Correo Electrónico")
                        .row
                            .small-4.columns
                                label.right.inline Tele Numbre
                            .small-8.columns
                                input(type="text", name='telephone', placeholder="Número de Teléfono (No se requiere)")
                        .row
                            .small-4.columns
                                label.right.inline Mensaje
                            .small-8.columns
                                input(type="text", name='message', placeholder="")
                        input(type="hidden", name='language', value="es")
                a.close-reveal-modal &#215;

        // Footer
        footer.row
            .large-12.columns
                hr

        script(src="bower_components/jquery/jquery.min.js")
        script(src="bower_components/foundation/js/foundation.min.js")
        script(src="js/app.js")
        script(type="text/javascript").
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-34228211-1']);
            _gaq.push(['_setDomainName', 'sunsetspark.org']);
            _gaq.push(['_trackPageview']);

            (function() {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();
