<section class="donate">
  <h2 class="section-heading">&#9829; Support Sunset Spark &#9829;</h2>
  <p>Like what we do? Please consider making a gift to us. As a 501(c)3 org, your tax-deductible donation will help us bring more creative technology and science programs to families in Brooklyn.
  </p>
  <div class="donorbox-wrap">
    <details>
      <summary class="button">Donate to Sunset Spark</summary>
      <div>
        <script src="https://donorbox.org/widget.js" paypalExpress="true"></script><iframe allowpaymentrequest="" frameborder="0" height="900px" name="donorbox" scrolling="no" seamless="seamless" src="https://donorbox.org/embed/support-sunset-spark" style="max-width: 425px; max-height:none!important" width="100%"></iframe>
      </div>
    </details>
  </div>
</section>
