<hr class="heart">

<section>
  <h2 class="section-heading">Support Sunset Spark</h2>
  <p>Like what we do? Consider a donation. As a 501(c)3 org, we'll put your tax-deductible donation to good use.
  </p>
  <div class="donorbox-wrap">
    <details>
      <summary class="button">Donate to Sunset Spark</summary>
      <div>
        <script src="https://donorbox.org/widget.js" paypalExpress="true"></script><iframe allowpaymentrequest="" frameborder="0" height="900px" name="donorbox" scrolling="no" seamless="seamless" src="https://donorbox.org/embed/support-sunset-spark" style="max-width: 425px; max-height:none!important" width="100%"></iframe>
      </div>
    </details>
  </div>
</section>
