<section class="donate">
  <h2 class="section-heading section-striped"><span>&#9829; Support Sunset Spark &#9829;</span></h2>
  <p>Sunset Spark needs your help. Like many, 2020 has been a financially difficult year for Sunset Spark. Without donors like you, we will not make it to 2021. As a 501(c)3 org, your tax-deductible donation will help us teach families in-person and online and provide much needed tech support and assistance for immigrant families.
  </p>
  <div class="donorbox-wrap">
    <details id="donorbox-details">
      <summary class="button">Donate to Sunset Spark</summary>
      <div id="donorbox-insert"></div>
    </details>
  </div>
</section>

<script>
  let details = document.getElementById('donorbox-details');
  details.addEventListener("toggle", event => {
    let donorbox = document.getElementById('donorbox-insert');
    if (!donorbox.hasChildNodes() && details.open) {
      donorbox.insertAdjacentHTML('afterbegin', '<script src="https://donorbox.org/widget.js" paypalExpress="false"><\/script><iframe allowpaymentrequest="" frameborder="0" height="900px" name="donorbox" scrolling="no" seamless="seamless" src="https://donorbox.org/embed/support-sunset-spark" style="max-width: 425px; max-height:none!important" width="100%"><\/iframe>');
    }
  });
</script>
