<footer class="main-footer">
  <ul class="footer-nav">
    <li><a class="footer-link" href="mailto:hello@sunsetspark.org">Email</a></li>
    <li><a class="footer-link" href="https://www.instagram.com/SunsetSparkNYC">Instagram<a/></li>
    <li><a class="footer-link" href="https://www.twitter.com/SunsetSparkNYC">Twitter</a></li>
    <li><a class="footer-link" href="https://www.facebook.com/SunsetSparkNYC">Facebook</a></li>
    <li><a class="footer-link" href="https://www.github.com/SunsetSparkNYC">GitHub</a></li>
  </ul>
  <p class="copyright"> Copyright &copy; 2016 Sunset Spark</p>
</footer>
