<footer class="main-footer">
  <ul class="footer-nav">
    <li><a class="footer-link" href="mailto:hello@sunsetspark.org">Email</a></li>
    <li><a class="footer-link" href="https://www.instagram.com/SunsetSparkNYC">Instagram<a/></li>
    <li><a class="footer-link" href="https://www.twitter.com/SunsetSparkNYC">Twitter</a></li>
    <li><a class="footer-link" href="https://www.facebook.com/SunsetSparkNYC/posts">Facebook</a></li>
    <li><a class="footer-link" href="https://twitch.tv/SunsetSparkNYC/">Twitch</a></li>
    <li><a class="footer-link" href="https://youtube.com/SunsetSparkNYC/">Youtube</a></li>
    <li><a class="footer-link" href="/newsletter/">Newsletter</a></li>
  </ul>
  <p class="copyright"> Sunset Spark is a 501(c)(3) community org. Copyright &copy; 2015-20 Sunset Spark.</p>
</footer>
