<header class="nav-bar">
  <nav>
    <ul class="nav clearfix">
      <li class="left">
        <a class="nav-link logo" href="/">¡Sunset Spark!</a>
      </li>
      <li class="right block">
        <a class="nav-link {% if page.title == 'Contact' %}active{% endif %}" href="{{ "/contact/" }}">Contact</a>
      </li>
      <li class="right block">
        <a class="nav-link {% if page.title == 'About' %}active{% endif %}" href="{{ "/about/" }}">About</a>
      </li>
      <li class="right block">
        <a class="nav-link {% if page.title == 'Schools' %}active{% endif %}" href="{{ "/schools/" }}">Schools</a>
      </li>
      <li class="right block">
        <a class="nav-link {% if page.title == 'Learn' %}active{% endif %}" href="{{ "/learn/" }}">Learn</a>
      </li>
    </ul>
  </nav>
</header>
