<header class="nav-bar">
  <nav>
    <ul class="nav clearfix">
      <li class="left">
        <a class="nav-link logo" href="{{ site.baseurl }}/">¡Sunset Spark!</a>
      </li>
      <li class="right block">
        <a class="nav-link {% if page.title == 'Contact' %}active{% endif %}" href="{{ "/contact/" | prepend: site.baseurl" }}">Contact</a>
      </li>
      <li class="right block">
        <a class="nav-link {% if page.title == 'About' %}active{% endif %}" href="{{ "/about/" | prepend: site.baseurl" }}">About</a>
      </li>
      <li class="right block">
        <a class="nav-link {% if page.title == 'Schools' %}active{% endif %}" href="{{ "/schools/" | prepend: site.baseurl" }}">Schools</a>
      </li>
      <li class="right block">
        <a class="nav-link {% if page.title == 'Learn' %}active{% endif %}" href="{{ "/learn/" | prepend: site.baseurl" }}">Learn</a>
      </li>
    </ul>
  </nav>
</header>
