{% extends 'base.html' %}

{% block body %}
<main>
    <div class="workshop-details">
        <article class="workshop">
            <h1>{{ workshop.title }}</h1>
            <p class="workshop-datetime">{{ workshop.starts_at|date:"l, F g" }}</p>
            <p class="workshop-datetime">{{ workshop.starts_at|date:"f A"|lower }} to {{ workshop.ends_at|date:"f A"|lower}}</p>
        </article>
        <p>{{ workshop.description }}</p>
        <a href="{{ workshop.get_absolute_url }}" class="button">More Info</a>
    </div>
</main>
{% endblock %}
