{% extends 'base.html' %}

{% block body %}
{% regroup workshops by week as upcoming_workshops %}
<main>
    <div class="workshops">
        {% for weekly_workshops in upcoming_workshops %}
        <h2>Week of {{ weekly_workshops.grouper.date }}</h3>
        <div class="workshops-by-week">
            {% for workshop in weekly_workshops.list %}
            <article class="workshop" id="{{ workshop.slug }}">
                <h3 class="workshop-title">{{ workshop.title }}</h3>
                <p class="workshop-datetime">{{ workshop.starts_at|date:"l, F g" }}</p>
                <p class="workshop-datetime">{{ workshop.starts_at|date:"f A"|lower }} to {{ workshop.ends_at|date:"f A"|lower}}</p>
                <a href="{{ workshop.get_absolute_url }}" class="button">More Info</a>
            </article>
            {% endfor %}
        </div>
        {% endfor %}
    </div>
</main>
{% endblock %}
