---
layout: default
title: Wildcard Characters
---
<div class="jumbotron pink-cover">
    <h1>Wildcard Characters</h1>
    <h6>Half-baked ideas, needless provocation, and spirited opinions on education, community, and tech from Sunset Spark.</h6>
</div>

<section>
    <!-- This loops through the paginated posts -->
    {% for post in paginator.posts %}
    <article class="paginated-post">
        <h1 class="post-heading"><a href="{{ post.url }}">{{ post.title }}</a></h1>
        <section class="post-metadata">
            <span><span class="author-name">{{ post.author.name }}</span>, <span class="author-role">{{ post.author.role }}</span> // </span>
                <span>{{ post.date | date_to_string: "ordinal", "US"  }} </span>
                {% if post.category %}<span>// {{ post.category }}</span>{% endif %}
            </span>
        </section>
        <section class="post-content">
          {{ post.excerpt }}
          <p><a class="post-continue" href="{{ post.url }}">Keep reading ></a></p>
        </section>
    </article>
    {% endfor %}

    <!-- Pagination links -->
    <div class="pagination-links">
      {% if paginator.previous_page %}
        <a href="{{ paginator.previous_page_path }}" class="pagination-link">
          « Newer
        </a>
      {% else %}
        <span class="pagination-link">« Newer</span>
      {% endif %}
      <!-- <span class="page_number ">
        {{ paginator.page }} of {{ paginator.total_pages }}
      </span> -->
      {% if paginator.next_page %}
        <a href="{{ paginator.next_page_path }}" class="pagination-link">Older »</a>
      {% else %}
        <span class="pagination-link">Older »</span>
      {% endif %}
    </div>
</section>

{% include donate.html %}
